.dashboard-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media(min-width: 768px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media(min-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        background: var(--main-color);
        color: var(--black-color);
        padding: 20px;
        border-radius: 10px;
    }
}
