.button {
    font-size: 16px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: var(--main-color);
    color: var(--blue-color);
    cursor: pointer;
    transition: all 0.2s;

    &:active {
        transform: scale(0.98);
    }
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
